name: Build and Push Docker to GHCR

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write  # อนุญาตให้ push ขึ้น GHCR

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build the Docker image
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/myapp:latest .

      - name: Push the Docker image
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/myapp:latest
